@model Core.Entities.Customers

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły klienta</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <span>Imię klienta:</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CFirstName)
        </dd>
        <dt class="col-sm-2">
            <span>Nazwisko klienta:</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CLastName)
        </dd>
        <dt class="col-sm-2">
            <span>Numer karty klienta:</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCardCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CId">Edytuj</a>
    <a asp-action="Index">Powrót do listy klientów</a>
</div>
