@model Core.Entities.Customers

@{
    ViewData["Title"] = "Details";
}
<div class="box">
    <div class="row title">
        <h1 class="title-row">Szczegóły klienta</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span>Imię klienta:</span>
                </th>
                <th>
                    <span>Nazwisko klienta:</span>
                </th>
                <th>
                    <span>Numer karty klienta:</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.CFirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CLastName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CCardCode)
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer-section">
        <a asp-action="Edit" asp-route-id="@Model.CId">Edytuj</a> | 
        <a asp-action="Index">Powrót do listy klientów</a>
    </div>
</div>