@model Core.Entities.Customers

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj klienta</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CId" />
            <div class="form-group">
                <label class="control-label">Imię klienta:</label>
                <input asp-for="CFirstName" class="form-control" />
                <span asp-validation-for="CFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nazwisko klienta:</label>
                <input asp-for="CLastName" class="form-control" />
                <span asp-validation-for="CLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Numer karty klienta:</label>
                <input asp-for="CCardCode" class="form-control" />
                <span asp-validation-for="CCardCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy klientów</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
