@model Core.Models.LoginDTO

@{
    ViewData["Title"] = "Login";
}
<h1 class="page-title">Logowanie użytkownika</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Email:</label>
                <input asp-for="UEmail" class="form-control" />
                <span asp-validation-for="UEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hasło:</label>
                <input asp-for="UPassword" class="form-control" />
                <span asp-validation-for="UPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zaloguj się" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
