@model Core.Entities.Librarians

@{
    ViewData["Title"] = "Details";
}
<div class="box">
    <div class="row title">
        <h1 class="title-row">Szczegóły bibliotekarza</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span>Imię bibliotekarza:</span>
                </th>
                <th>
                    <span>Nazwisko bibliotekarza:</span>
                </th>
                <th>
                    <span>Email bibliotekarza:</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.LFirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LLastName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LEmail)
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer-section">
        <a asp-action="Edit" asp-route-id="@Model.LId">Edytuj</a> |
        <a asp-action="Index">Powrót do listy bibliotekarzy</a>
    </div>
</div>