@{
    ViewData["Title"] = "Home Page";
}
<div class="box">
    <div class="text-center">
        <h1 class="display-4">Witamy!</h1>
        <p>Aby skorzystać z systemu zarządzania biblioteką proszę zaloguj się poprzez menu z górnej części strony</p>
        <p>W przypadku w którym nie posiadasz konta należy zarejestrować się poprzez "Rejestracja" również u góry strony</p>
        <p>Jeżeli jesteś bibliotekarzem skontakuj się z administratrem w celu nadania odpowiedniej roli</p>
    </div>
</div>