@model Core.Entities.Books

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń książkę</h1>

<h3>Jesteś pewny, że chcesz usunąć książkę z systemu? Może to spowodować błędy.</h3>
<div>
    <h4>Books</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <span>Tytuł książki:</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BTitle)
        </dd>
        <dt class="col-sm-2">
            <span>Numer ISBN książki:</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BISBN)
        </dd>
        <dt class="col-sm-2">
            <span>Data publikacji:</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BPublishDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BId" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Index">Powró do listy książek</a>
    </form>
</div>
