@model Core.Entities.Books

@{
    ViewData["Title"] = "Details";
}
<div class="box">
    <div class="row title">
        <h1 class="title-row">Szczegóły książki</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <span>Tytuł książki:</span>
                </th>
                <th>
                    <span>Numer ISBN książki:</span>
                </th>
                <th>
                    <span>Data publikacji:</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.BTitle)
                </td>
                <td>
                    @Html.DisplayFor(model => model.BISBN)
                </td>
                <td>
                    @Html.DisplayFor(model => model.BPublishDate)
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer-section">
        <a asp-action="Edit" asp-route-id="@Model.BId">Edytuj</a> | 
        <a asp-action="Index">Powrót do listy książek</a>
    </div>
</div>