@page
@model Lab2.Pages.newPageModel
<style>
    article{
        color: red;
        background-color: #aaa;
        width: 50%;
        height: 50%;
        margin: 30px auto;
        
    }
    a{
        display: block;
        margin-top: 20px;
    }
</style>

@{
    <div>
        <p>Tutaj można dodać przykładowy kod HTML i CSS</p>
    </div>
    <article>TEKST ARYTUKUŁU</article>
}
<img src="File/jpg.jpg" alt="jpg" width="100px" height="100px"/>
<img src="File/png.png" alt="png" width="100px" height="100px"/>
<a href="~/File/plik.txt.txt">Pobierz plik .txt</a>
<a href="~/File/txt.zip">Pobierz plik .zip</a>